body {
    max-width: 100%;
}

.header {
    margin-top: -16px;
    margin-right: -1px;
    margin-left: -7px;
    height: 170px;
    background-color: #1abc9c;
    text-align: center;
    box-shadow: 7px 7px 7px #0e6856;
}

img {
    opacity: 0.7; 
    filter:blur(4px);
    width: 100%;
    height: 100%;
 }

.headertext{
    margin-top: -25px;
    width: 100%;
}

.headertext h1{
    font-size: 50px;
    position: relative;
    bottom: -10px;
}

.headertext h3{
    position: relative;
    bottom: 15px;
}

h1, h3 {
    color: white;
}

.navigation {
    font-size: 14px;
    padding: 0;
    background: white;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: inline-block;
    padding: 10px 25px;
    color: #333;
    text-decoration: none;
}

.parent {
    width: 50%;
}

.child {
    float:left;
    width: 50%;
}

.box1 {
    margin-left: 70%;
    margin-right: -80%;
    padding:5px;
    background-color:gray;
    box-shadow: 7px 7px 7px rgb(82, 82, 82);
}
.box2{
    margin-left:100%;
    margin-right: -150%;
    padding: 5px;
    background-color:gray;
    box-shadow: 7px 7px 7px rgb(82, 82, 82);
}

.box2 h1 {
    text-transform: uppercase;
    text-align: center;
}

.box3{
    position: relative;
    margin-left:100%;
    margin-right: -150%;
    padding: 5px;
    background-color:gray; 
    bottom: -10px;
    box-shadow: 7px 7px 7px rgb(82, 82, 82);
}

.box3 h1 {
    text-transform: uppercase;
    text-align: center;
}

.box4{
    height:700px;
    padding-bottom: 50px;
}

.container {
    position: relative;
    top:100px;
    height: 500px;
}