body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: #2c2c34;
}

h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #68696Cff;
    font-style:oblique;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

button {
    background-color: #4E4415ff;
    border: none;
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover {
    opacity: 0.5;
    background-color: rgb(90, 78, 24);
    cursor: pointer;
}

.navbox {
    background-color: #2c2c34;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    padding: 0;
    height: 30px;
    width:auto;
    box-shadow: 5px 5px 5px #131316;
}

.navlinksleft {
    height:30px;
    width: 150px;
    text-align: center;
    transition: 0.4s;
    float: left;
    position:relative;
    left: 150px;
}

.navlinksleft:hover, .navlinksright:hover {
    opacity: 0.5;
    background-color: #3b3b46;
}

.navlinksleft a, .navlinksright a{
    position: relative;
    top:5px;
    color: white;
    font-weight: bold;
}

.navlinksright {
    height:30px;
    width: 270px;
    text-align: center;
    transition: 0.4s;
    float: right;
    position:relative;
    right: 150px;
}

.headerbox {
    height: 140px;
}

.headerbox hr {
    position: relative;
    top: 35px;
}

.headertext {
    position: relative;
    text-align: center;
    top: 30px;
}

.boxmain {
    margin-right: 150px;
    margin-left: 150px;
    height: 2000px;  
}

.box1 {
    height: 300px;
    width: 600px;
    background-color: #C0C3B7ff;
    margin-bottom: 100px;
    box-shadow: 5px 5px 5px #68696C;
}

.box1 h2 {
    Color: black;
    font-size: 35px;
    position: relative;
    top: 100px;
    left:  40px;
}

.box1 hr {
    transform: rotate(90deg);
    width: 200px;
    border-color: #68696Cff;
    position: relative;
    left: 145px;
    top: 60px;
}

.clockdisplay {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 120px;
    left: 100px;
}

.box1child1 {
width: 300px;
height: 300px;
float:left;
}

.box1child2{
width: 300px;
height: 300px;
position: relative;
float: right;
}

.box1child2 p {
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    position: relative;
    left: 10px;
    top: 50px;
}

.box1child2 button {
    position: relative;
    left: 90px;
    top: 50px;
}

.box2 {
    height: 900px;
    width: 600px;
    background-color: #C0C3B7ff;
    float: right;
    position: relative;
    box-shadow: 5px 5px 5px #68696C;
}

.box2 a {
    position: relative;
    font-size: 35px;
    font-style: oblique;
    font-weight: bold;
    left: 410px;
    bottom: 20px;
}

.box2 h2 {
    color: #2c2c34;
    font-size: 35px;
    position: relative;
    left: 10px;
    top: 20px;
}

.box2 p {
    color: #2c2c34;
    margin: 10px;
    font-size: 20px;
    position: relative;
    top: 35px;
}

.box3 {
    height: 500px;
    width: 600px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 5px #68696C;
    background-image:url("https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2017_28/2070086/170712-better-living-with-plants-bedroom-se-1205p.jpg");
}

.box3 h2 {
    color: #2c2c34;
    font-size: 35px;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

.readmore {
    width: 300px;
    height: 100px;
    background-color: #4E4415;
    text-align: center;
    position: relative;
    left: 140px;
    top: 160px;
    transition: 0.4s;
}

.readmore a {
    position:relative;
    top: 25px;
    color: white;
    font-size: 35px;
}

.readmore:hover{
    background-color: #4E4415;
    opacity: 0.9;
}

.picture1 {
    height: 800px;
    margin-bottom: 35px;
}

.footer {
    background-color: #2c2c34; 
    box-shadow: -5px -5px 5px#131316;
    height: 30px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -8px;
}

.navlinksright button {
    background-color: #2c2c34;
    border: none;
    color: none;
    height: 30px;
    width: 270px;
    font-weight: bold; 
}

.navlinksright button:hover {
    opacity: 0.5;
    background-color: #3b3b46;
}

/* PLANT GALLARY PAGE */

.plantbox {
    margin: 30px;
    margin-left: 70px;
    background-color: #131316;
    width: 400px;
    height: 400px;
    position: relative;
    float: left;
    box-shadow: 5px 5px 5px #131316;
}

.boxmainplant {
    margin-right: 150px;
    margin-left: 150px;
    height: 1600px;  
}

/* BASIC CALCULATOR PAGE */

.boxmainrandom {
    margin-right: 150px;
    margin-left: 150px;
    height: 890px;  
}

.boxrandom {
    background-color: #A3A34D;
    height: 400px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 100px;
    box-shadow: 5px 5px 5px #797937;
}

.outputbox {
    background-color: white;
    border: solid;
    border-color: #A3A34D;
    height: 100px;
}

.outputbox p {
    font-size: 40px;
    position: relative;
    bottom: 10px;
    left: 10px;
}

.boxrandom button {
    width: 400px;
    height: 100px;
    position: relative;
    left: 270px;
    top: 100px;
    font-size: 30px;
}

.boxrandom button:hover {
    background-color: #3b3310;
    opacity: 0.9;
}
/*
--forest-green-traditional: #04501Dff


--olive-green: #A3A34Dff;
--army-green: #4E4415ff;
--ash-gray: #C0C3B7ff;
--dim-gray: #68696Cff;
--cool-darkgray: #2c2c34;
*/